/* Add screen styles below */
html {
    background: #e3e3e3;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 35px;
    padding: 35px;
    border-top: 10px solid #2100c8e0;
    background: #fff;
}

h1 {    
    font-size: 4em;
    margin: 0;
}

p { 
    line-height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

#blog {
    border-top: 5px solid #2100c8e0;
}

.blog-post {
    border-bottom:5px solid #2100c8e0;
    padding: 35px;
}

.blog-post2 {
    border-bottom:5px solid #2100c8e0;
    padding: 35px;
}